version: '3.8'

services:
  bot:
    build: .
    container_name: qr_code_bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./bot_database.db:/app/bot_database.db
      - ./bot.log:/app/bot.log
    environment:
      - DATABASE_URL=sqlite:///bot_database.db
    networks:
      - bot_network

networks:
  bot_network:
    driver: bridge

